/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
    /* Set core body defaults */

    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    /* ## Colors */

    /* ### Primary */

    --pink: hsl(322, 100%, 66%);

    /* ### Neutral */

    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);


    font-family: 'Open Sans', sans-serif;

    --custom-mw: 1300px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

/*************/
/* Header    */
/*************/

header {
    background-image: url(/images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--very-pale-cyan);
}

header .top{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: var(--very-pale-cyan);
}

header .logo {
    width: 6rem;
    height: 1rem;
}

header button {
    background-color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 1px 0 1px rgba(0, 0, 0, .2);
    width: 6rem;
    padding: .3rem 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

/*************/
/* Main      */
/*************/

main {
    text-align: center;
    padding-bottom: 9rem;
}

/* Intro section */

section.intro {
    padding: 2rem 0 2rem;
    text-align: center;
}

section.intro h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    width: 68%;
    margin-inline: auto;
}

section.intro p {
    font-size: .85rem;
    width: 74%;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}

section.intro button {
    background-color: var(--pink);
    color: white;
    width: 60%;
    border: none;
    border-radius: 30px;
    padding: .7rem 0;
    font-size: .75rem;
    font-weight: 700;
    font-family: 'Open Sans';
}

section.intro .hero {
    margin-top: 3rem;
    width: 80%;
    margin-inline: auto;
}

/*---- Features secion -------*/

section.features {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.features .feature {
    padding: 2rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 1px 0 1px rgba(0, 0, 0, .1);
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature img {
    width: 90%;
    margin: 0 auto;
}

.feature h2 {
    font-size: 1.1rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: .75rem;
    color: var(--grayish-blue);
    line-height: 20px;
    width: 90%;
}


/*************/
/* Footer    */
/*************/

footer {
    position: relative;
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 4rem;
}

footer .get-started {
    max-width: 700px;
    text-align: center;
    background-color: white;
    width: 90%;
    margin-inline: auto;
    box-shadow: 0px 0px 0 3px rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: absolute;
    top: -9%;
    padding: 2rem 1rem;
}

footer .get-started h2 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

footer .get-started button {
    color: white;
    background-color: var(--pink);
    border-radius: 30px;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    border: none;
    padding: .5rem 0;
    box-shadow: 0px 3px 0 1px rgba(0, 0, 0, .3);
}

footer .logo-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

/* Contact info */

footer .contact {
    width: 90%;
    margin-inline: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.contact div {
    display: flex;
    gap: 1rem;
}

.contact div img {
    width: 20px;
    height: 20px;
}

.contact div p {
    flex: content;
    font-size: .8rem;
}

/* Helpful links */

.useful-links {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.useful-links ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.useful-links ul li a {
    color: white;
    text-decoration: none;
}

/* Social networks */

div.social {
    margin-top: 2rem;
}

div.social ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

div.social ul li i {
    color: white;
    border: 1px solid;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: .8rem;
    margin-bottom: 2rem;
}

.copyright {
    color: white;
    font-size: .75rem;
}

@media screen and (min-width: 768px) {

    header {
        background-image: url(/images/bg-hero-desktop.svg);
    }

    header .top {
        max-width: var(--custom-mw);
        margin-inline: auto;
        padding: 2rem 0;
    }

    section.intro {
        max-width: var(--custom-mw);
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left;
        margin-inline: auto;
    }

    section.intro .texts p,
    section.intro .texts h1{
        width: unset;
    }

    section.intro .texts h1 {
        font-size: 1.8rem;
    }

    section.intro .hero {
        margin-top: 0;
        margin-inline: unset;
        margin-left: auto;
    }

    section.features .feature {
        height: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .feature:nth-of-type(odd) img {
        order: 1;
    }

    .feature .texts {
        width: 70%;
    }

    .feature .texts p {
        width: unset;
        font-size: 1rem;
    }

    .feature .texts h2 {
        font-size: 1.5rem;
    }

    /* Footer    */

    footer .get-started {
        width: 50%;
        top: -19.5%;
    }

    footer .get-started h2 {
        font-size: 1.5rem;
    }

    footer .get-started button {
        width: 40%;
        font-size: .8rem;
    }

    footer .links {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    footer .links .contact,
    footer .links .useful-links {
        width: unset;
        margin-inline: unset;
    }

    footer .links .contact {
        max-width: 23%;
    }

    footer .links .social {
        margin-top: 0;
    }

    footer .copyright {
        width: 90%;
        text-align: right;
    }
}